.tagsSection {
  display: flex;
  align-items: center;
  gap: 10px;
  &_tag {
    @include flexmid;
    background-color: $primary-color;
    color: $white-color;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    height: 25px;
    min-width: 115px;
    padding: 0 10px;
  }
}
