.host {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  &_name {
    width: min-content;
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
    text-align: end;
  }
  &_picture {
    height: 64px;
    width: 64px;
    &-radius {
      border-radius: 100px;
    }
  }
}
