.collapse {
  width: 100%;
  &_titre {
    @include collapseBase;
  }
  &_logement {
    @include collapseBase;
    font-size: 18px;
  }
  &_content {
    color: $black-color;
    font-size: 18px;
    font-weight: 400;
    background-color: $secondary-color;
    border-radius: 0 0 5px 5px;
    padding: 22px 18px;
    text-align: start;
    width: auto;
    transition: background 0.3s;
    border-radius: 4px;
    transform-origin: top center;
    transform: rotate(0.1deg);
    transition: all 0.3s;
  }
  &_arrow {
    transform: rotate(0deg);
    transition: all 0.4s;
    cursor: pointer;
    &--up {
      transform: rotate(180deg);
      transition: all 0.4s;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
  .collapse {
    &_titre {
      border-radius: 5px;
      font-size: 20px;
      height: 40px;
    }
    &_logement {
      border-radius: 5px;
      font-size: 20px;
      height: 40px;
    }
    &_content {
      font-size: 18px;
    }
    &_arrow {
      height: 24px;
      &--up {
        height: 24px;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, mobile)) {
  .collapse {
    &_titre {
      border-radius: 5px;
      font-size: 13px;
      height: 30px;
      padding: 0 12px;
    }
    &_logement {
      border-radius: 5px;
      font-size: 13px;
      height: 30px;
      padding: 0 12px;
    }
    &_content {
      font-size: 12px;
      padding: 18px 12px;
    }
    &_arrow {
      height: 20px;
      &--up {
        height: 20px;
      }
    }
  }
}
