.sliderContainer {
  height: 415px;
  position: relative;
}
.slider {
  height: 415px;
  border-radius: 25px;
  &_image {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &_leftArrow {
    position: absolute;
    top: 38%;
    left: 23px;
    cursor: pointer;
  }
  &_rightArrow {
    position: absolute;
    top: 38%;
    right: 23px;
    cursor: pointer;
  }
  &_number {
    position: absolute;
    bottom: 23px;
    right: 50%;
    font-size: 18px;
    font-weight: 500;
    color: $white-color;
  }
}
