.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 68px;
  margin: 40px 20px;

  &_logo {
    width: 210px;
    height: 68px;

    @media screen and (max-width: map-get($breakpoints, mobile)) {
      display: block;
      width: 145px;
      height: 47px;
      transform: scale(0.8);
      margin-left: -15px;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }

    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
      width: 180px;
      height: 58px;
    }
  }

  &_nav {
    gap: 57px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
  }
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 90%;
    margin: 20px auto -19px;
  }

  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    margin: 20px 20px 0 20px;
  }

  @media screen and (min-width: map-get($breakpoints, breakhome)) {
    margin-left: 125px;
    margin-right: 125px;
  }
}
// .navLink-1 .navLink-2 {
//   text-decoration: none;
// }
.navlink {
  color: $black-color;
  padding-left: 57px;
  text-decoration: none;
  justify-content: space-between;

  &:hover {
    text-decoration-line: underline;
    color: $primary-color;
  }
}

//   @media screen and (max-width: map-get($breakpoints, mobile)) {
//     font-size: 12px;
//     padding-right: 3px;
//     padding-left: 10px;
//     padding-bottom: 20px;
//     text-transform: uppercase;
//   }
// }
