.header {
  margin: 40px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    margin: 20px 20px 20px 20px;
  }
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    margin: 30px 50px 30px 50px;
  }
  &_logo {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: 145px;
      height: 47px;
    }
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
      width: 180px;
      height: 58px;
    }
  }
  &_nav {
    gap: 57px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      font-size: 12px;
      column-gap: 10px;
      text-transform: uppercase;
    }
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
      column-gap: 25px;
      font-size: 18px;
    }
  }
}
.navlink {
  color: $black-color;
  padding-left: 57px;
  text-decoration: none;
  justify-content: space-between;
  &:hover {
    text-decoration: underline;
    color: $primary-color;
    @include effect;
  }
  @media screen and (max-width: map-get($breakpoints, tablette)) {
    padding-left: 0;
  }
}
