.footer {
  height: 209px;
  gap: 35px;
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    gap: 15px;
  }

  &_logo {
    color: $white-color;
  }
  &_coopyrat {
    color: $white-color;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: 133.59px;
      height: 46px;
    }
  }
}
