.container {
  margin: 100px 100px 150px 100px;
  @include flexmid;
  flex-direction: column;
  &_titre {
    font-size: 288px;
    font-weight: 700;
    color: $primary-color;
    margin: 0;
  }
  &_text {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 180px;
    text-align: center;
  }
  &_link {
    font-size: 18px;
    font-weight: 500;
    color: $black-color;
    text-decoration-line: underline;
    &:hover {
      @include effect;
      color: $primary-color;
    }
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    margin: 100px 100px 150px 100px;
    &_titre {
      font-size: 192px;
    }
    &_text {
      font-size: 27px;
      margin-bottom: 140px;
    }
    &_link {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    margin: 120px 50px 150px 50px;
    &_titre {
      font-size: 96px;
    }
    &_text {
      font-size: 18px;
      margin-bottom: 100px;
    }
    &_link {
      font-size: 14px;
    }
  }
}
